<%= form_with(model: task, class: "mb-7") do |form| %>
  <div class="mb-5">
    <%=form.text_field :description, placeholder: 'Add Task', class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
    <%=form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
